.mission {
  padding: rem(86) 0 rem(100);
  background: #fff;
  position: relative;
  @media (max-width: $pc) {
    padding: rem(40) 0;
  }
  @media (max-width: $tablet) {
    padding-top: 0;
  }
  // .mission__bg-ibg
  &__bg-ibg {
    position: absolute;
    height: 100%;
    width: 973px;
    top: 0;
    right: 0;
    @media (max-width: em(1550)) {
      opacity: 0.5;
      max-width: 600px;
    }
    @media (max-width: $tablet) {
      position: relative;
      opacity: 1;
      padding-bottom: 63.157895%; /* 216/342 */
      width: 100%;
      max-width: 100%;
    }
  }
  // .mission__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .mission__content
  &__content {
    max-width: rem(518);
    @media (max-width: $tablet) {
      padding-top: 20px;
      max-width: 100%;
    }
  }
  // .mission__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(15);
      @media (max-width: $mobile) {
        margin-bottom: 7px;
      }
    }
  }
  // .mission__text
  &__text {
    @include adaptiveValue('font-size', 20, 12);
    line-height: 155%;
    color: rgba(13, 25, 49, 0.6);
    @media (max-width: em(1550)) {
      color: rgba(13, 25, 49, 1);
    }
    @media (max-width: $tablet) {
      color: rgba(13, 25, 49, 0.6);
    }
    p {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .mission__button
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
