.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
  font-weight: 700;
  line-height: 155%;
  font-size: 20px;
  @media (max-width: $tablet) {
    font-size: rem(14);
  }
  @media (max-width: $mobile) {
    font-size: rem(12);
  }
  // .quantity__button
  &__button {
    color: #7897da;
    font-size: 20px;
  }
  // .quantity__input
  &__input {
    width: 160px;
    @media (max-width: $mobile) {
      width: 84px;
    }
    input {
      border: 2px solid #7897da;
      filter: drop-shadow(0px 14px 41px rgba(41, 12, 12, 0.11));
      border-radius: 40px;
      height: 42px;
      background: transparent;
      display: block;
      width: 100%;
      text-align: center;
      color: #7897da;
      font-weight: 700;
      font-size: 18px;
      @media (max-width: $mobile) {
        height: 30px;
        font-size: 12px;
      }
    }
  }
  &__label {
    color: rgba(13, 25, 49, 0.6);
  }
  // .quntity__actions
  &__actions {
    display: flex;
    align-items: center;
    gap: rem(10);
  }
}
