@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("../fonts/Unbounded-Regular.woff2") format("woff2"), url("../fonts/Unbounded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Helvetica;
	font-display: swap;
	src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Unbounded;
	font-display: swap;
	src: url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
